a {
  color: #941a1a;
  text-decoration: none;
  position: relative;
}

a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #941a1a;
  transition: width .5s ease;
}

a:hover::before {
  width: 100%;
}